<div>
  <h3>ようこそ<%= @user.name %>さん！</h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
  <% if @user.is_followed_by?(current_user) %>
    <%= link_to user_relationships_path(@user), method: :delete do %>
     フォロー解除
    <% end %>
　<% else %>
    <%= link_to user_relationships_path(@user), method: :post do %>
      フォローする
     <% end %>
  <% end %>
</div>

<% @musics.each do |music| %>
<%# binding.pry %>
  <div>
    <p>ユーザーネーム：<%= link_to music.user.name, user_path(music.user_id) %></p>
    <p>タイトル：<%= link_to music.title,  music_path(music.id) %></p>
    <p>ジャケット写真など： <%= link_to music_path(music.id) do %>
    <%= attachment_image_tag(music, :song_image, :fill, 50, 50, ) %>
    <% end %></p>
    <p>説明：<%= music.caption %></p>
    <p>再生：<audio src= "<%= "#{music.song}" %>" controls=""></audio></p>
    <p class="music-evaluation" data-score="<%= music.evaluation %>"></p>
     <p><%= link_to "#{music.comments.count} コメント", music_path(music.id) %></p>
    <% if music.user == current_user %>
    <%= link_to "削除", music_path(music), method: :delete %>
    <% end %>
  </div>
<% end %>
 <script>
  $('.music-evaluation').raty({
  readOnly: true,
  score: function() {
  return $(this).attr('data-score');
  },
  path: '/assets/'
  });
  </script>

<% if @user == current_user %>

<h3>最新投稿</h3>
<hr>
<% @feeds.each do |music| %>
  <div>
    <%= link_to music.user.name %>さん
  </div>
  <div>
    <h4>曲名<br></h4>
    <%= music.title %>
  </div>
  <div>
    <h4>曲について<br></h4>
    <%= music.caption %>
  </div>
  <div>
    <h4>音源</h4>
    <audio src= "<%= "#{music.song}" %>" controls=""></audio></p>
  </div>
  <div class="music-evaluation_<%= music.id %>" data-score="<%= music.evaluation %>"></div>
   <script>
      $('.music-evaluation_<%= music.id %>').raty({
        readOnly: true,
        score: function() {
        return $(this).attr('data-score');
      },
        path: '/assets/'
      });
  </script>
<hr>
<% end %>
<% end %>