<div class="show-name">
    <% if @user == current_user %>
  <h3>ようこそ<%= @user.name %>さん！</h3>
    <% end %></br>
</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6" >
        <div class="show-image">
          <%= attachment_image_tag @user, :profile_image, :fill, 250, 250, format: 'jpeg', fallback: "no_image.jpg" %>
        </div>
      </div>
      <div class="col-lg-6">
        <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
        <% end %>
        <p>ユーザーネーム：<%= link_to @user.name, user_path(@user.id) %></p>
        <p>自己紹介<br><%= @user.introduction %></p>
        <br>
        <h5><%= @user.name %>さんの<%= link_to '楽曲一覧', user_musics_path(:user_id => @user.id) %></h5><br>
        <%= link_to "いいねした楽曲", user_favorites_path(:user_id => @user.id) %>
        <br>
         <br>
        <p><%= link_to "フォロー", follows_user_path(@user) %> / <%= link_to "フォロワー", followers_user_path(@user) %></p>
          <% if current_user != @user %>
            <% if current_user.following?(@user) %>
            <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete, class: "btn-sm btn-danger" %>
            <% else %>
            <%= link_to 'フォローする', user_relationships_path(@user.id), method: :POST, class:"btn-sm btn-success" %>
            <% end %>
          <% end %>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>

<% if @user == current_user %>
<div class="container" >
 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 " >
    <div class="mainContents col-sm-9 col-sm-push-3 col-md-12 col-md-push-3 " >
       <h3 class="subtitle pb-4">タイムライン（フォローしている人の楽曲）</h3>
      <hr>
      <div class="row" >
        <% @feeds.each do |music| %>
        <div class="col-md-4 pb-4">
         <div class="card shadow-sm " style="height: 33rem;" >
          <%= link_to music_path(music.id) do %>
            <%= attachment_image_tag(music, :song_image, :fill, 348, 150, fallback: "no_image.jpg") %>
          <% end %><br>
            <p>@<%= link_to music.user.name, user_path(music.user.id) %></p>
            <p>曲名：<%= music.title %></p>
            <p>曲について：<%= music.caption %></p></br>
            <p class="mx-auto"><audio src= "<%= "#{music.song}" %>" controls=""></audio></p>
            <p class="mx-auto">自己評価</p>
            <p class="text-center">
            <h5 class="music-evaluation" data-score="<%= music.evaluation %>"></h5></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
</div>
<% end %>
         <script>
            $('.music-evaluation').empty();
            $('.music-evaluation').raty({
              readOnly: true,
              score: function() {
              return $(this).attr('data-score');
            },
              path: '/assets/'
            });
        </script>



<div class="container col-2 mt-5 mx-auto">
  <span>
    <%= paginate @musics %>
  </span>
</div>