<div>
  <% if @user == current_user %>
<h3>ようこそ<%= @user.name %>さん！</h3>
  <% end %>
  <div class="user-show">
       <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg" %>
        <% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
      <% end %>
        <p>ユーザーネーム：<%= link_to @user.name, user_path(@user.id) %></p>
        <% if @user.is_followed_by?(current_user) %>
          <%= link_to user_relationships_path(@user), method: :delete do %>
           フォロー解除
          <% end %>
      　<% else %>
          <%= link_to user_relationships_path(@user), method: :post do %>
            フォローする
           <% end %>
        <% end %>
        <br><br>
        <h5><%= @user.name %>さんの<%= link_to '投稿一覧', user_musics_path(:user_id => @user.id) %></h5><br>
  </div>

<% if @user == current_user %>
<div class="container">
  <div class="row">
    <div class="mx-auto" style="width: 350px;">
      <h3>タイムライン</h3>
      <hr>
      <% @feeds.each do |music| %>
        <div>
          <%= link_to music.user.name, user_path(music.user.id) %>さん
        </div>
        <div>
          <h4>曲名<br></h4>
          <%= music.title %>
        </div>
        <div>
          <h4>曲について<br></h4>
          <%= music.caption %>
        </div>
        <div>
          <h4>音源</h4>
          <audio src= "<%= "#{music.song}" %>" controls=""></audio></p>
        </div>
         <div class="music-evaluation" data-score="<%= music.evaluation %>"></div>
         <script>
            $('.music-evaluation').empty();
            $('.music-evaluation').raty({
              readOnly: true,
              score: function() {
              return $(this).attr('data-score');
            },
              path: '/assets/'
            });
        </script>
      <hr>
<% end %>
<% end %>
    </div>
  </div>
</div>
<div class="container col-2 mt-5 mx-auto">
  <span>
    <%= paginate @musics %>
  </span>
</div>