<h1>Misic Editページ</h1>
  <%= form_with model: @music, local:true do |f| %>
    <div>
      <%= f.label :title, '曲名' %>
      <%= f.text_field :title, class:"form-control" %>
    </div>
    <div>
      <%= f.label :caption, '説明' %>
      <%= f.text_field :caption, class:"form-control" %>
    </div>
    <div>
      <%= f.label :song_image, 'ジャケ写' %>
      <%= f.attachment_field :song_image, class:"form-control"  %>
    </div>
    <div>
      <%= f.label :song, '曲の選択' %>
      <%= f.file_field :song , :size => 140, class:"form-control"  %></br>
    </div>
    <%= f.submit "曲を更新する", class: "btn btn-success" %>
  <% end %>
  <%= link_to "曲詳細に戻る", music_path(@music.id) %><span> |</span>
  <%= link_to "曲一覧に戻る", "/musics" %>
