<h1>音楽投稿用フォーム</h1>
<%= form_with model: @music, local:true do |f| %>
  <h4>曲名</h4>
   <%= f.text_field :title %>
  <h4>説明</h4>
  <%= f.text_field :caption %>
  <h4>ジャケット写真</h4>
  <%= f.attachment_field :song_image %>
  <h4>曲の選択</h4>
  <%= f.file_field :song , :size => 140 %></br>
  <h6>※投稿できる音声ファイルは「.mp3」もしくは「.wav」ファイルのどちらかとなります。</h6>
  <!-- 評価 -->
   <div id="evaluate_stars">
      <label>評価</label>
    </div>
  <%= f.submit "　Music Vote　", class: "btn btn-success" %>

  <!-- 評価javascript -->
 <script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'music[evaluation]' //登録するモデル名とカラム名を記述
  });
</script>
<% end %>
</div>