<h4 class="mx-auto">
  <% if @music.errors.any? %>
    <Strong><%= @music.errors.count %>  errors occur!  :</Strong>
      <ul>
        <% @music.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
</h4>

<div class="container">
  <div class="row ">
    <div class="mx-auto" >
      <div class="mx-auto">
          <h2 class="field form-group row">
           <div class="mx-auto col mb-3">
             投稿用フォーム
            </div>
          </h2>
        <%= form_with model: @music, local:true do |f| %>
          <div class="field form-group row">
            <div class="mx-auto col mb-3">
              <%= f.label :曲名, class:"form-label" %>
              <%= f.text_field :title, autofocus: true, autocomplete: "title", class:"form-control",required: true %>
            </div>
          </div>
          <div class="field form-group row">
            <div class="mx-auto col mb-3">
              <%= f.label :曲の説明, class:"form-label" %>
              <%= f.text_field :caption, autofocus: true, autocomplete: "caption", class:"form-control",required: true %>
            </div>
          </div>
          <div class="field form-group row">
              <div class="mx-auto col mb-3">
                <%= f.label :song_image, 'ジャケ写など' %><br>
                <%= f.attachment_field :song_image,autofocus: true, required: true %>
              </div>
            </div>
            <div class="field form-group row">
              <div class="mx-auto col mb-3">
                <%= f.label :song, '曲の選択' %><br>
                <%= f.file_field :song , :size => 140,autofocus: true, required: true %><br>
                <p6><strong>※外部サイトは使用できません。また、他人の転載は禁止です。</strong></p6>
              </div>
            </div>
            <br>
             <div class="field form-group row">
              <div class="mx-auto col mb-3">
                <div id="evaluate_stars">
                  <%= f.label :evaluation, '自己評価　　' %>
                </div>
              </div>
            </div>
            <br>
            <div class="container ">
               <div class="row">
                  <div class="mx-auto" >
                    <div class="actions">
                      <%= f.submit "曲を投稿", class: "btn btn-primary btn-xl" %>
                    </div>
                  </div>
                </div>
              </div>
                <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 評価javascript -->
 <script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'music[evaluation]' //登録するモデル名とカラム名を記述
  });
</script>

