<div>
  <%= attachment_image_tag @music, :song_image %>
 <p>タイトル：<%= @music.title %></p>
  <p>説明：<%= @music.caption %></p>
  <p>ユーザーネーム：<%= @music.user.name %></p>
  <p>再生：<audio src= "<%= "#{@music.song}" %>" controls=""></audio></p>
  <p>投稿日：<%= @music.created_at.strftime('%Y/%m/%d') %></p>
  <% if @music.user == current_user %>
    <%= link_to "編集", edit_music_path(@music.id) %>
    <%= link_to "削除", music_path(@music), method: :delete %>
  <% end %>
  <% if @music.favorited_by?(current_user) %>
    <p>
      <%= link_to music_favorites_path(@music), method: :delete do %>
        ♥<%= @music.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to music_favorites_path(@music), method: :post do %>
        ♡<%= @music.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div>
<p>コメント件数：<%= @music.comments.count %></p>
<% @music.comments.each do |comment| %>
  <p><%= image_tag('sample-author1.jpg') %></p>
  <%= comment.user.name %>
  <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.content %>
  <% if comment.user == current_user %>
  <div>
    <%= link_to "削除", music_comment_path(comment.music, comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>
<div>
<%= form_with(model:[@music, @comment], local: true) do |f| %>
  <%= f.text_area :content, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>